{% extends 'base.html.twig' %}

{% block title %}Admin Utilisateur
{% endblock %}

{% block body %}
	{% include "partials/_admin_header.html.twig" %}

	<main class="main-prestation">
		<h2 class="titre-h2-prestations">Utilisateurs</h2>
		<div class="back-prestation">
			<ul>
				{% for user in users %}
					<li class="prestations-main-for-li">
						<div class="prestations-main-for-li-div">
							<div class="admin-user-main-div">
								<h6 class="">Name</h2>
								<p class="">{{user.name}}</p>
							</div>
							<div class="admin-user-main-div">
                            <h6 class="prestations-main-for-li-div-title">Email</h6>
								<p class="prestations-main-for-li-div-title">{{user.email}}</p>
							</div>
						</div>
					</li>
					<div>
						<a href="{{path('app_user_edit',{'id': user.id })}}"><img src="https://img.icons8.com/metro/26/null/edit-property.png"/></a>
						<a href="{{path('app_user_delete',{'id': user.id })}}"><img id="admin-prestation-logo-suppr" src="https://img.icons8.com/ios-glyphs/30/null/delete-property.png"/></a>
					</div>
				{% endfor %}
			</ul>
			<a class="admin-produits-ajout-button" href="{{path("app_user_new")}}">Ajouter un utilisateurs</a>
		</div>
	</main>

{% endblock %}

