<header>

	{# Menu burger #}
	<div class="div-burger hidden-burger column">
		<h2>Navigation</h2>
		<nav class="nav_burger flex column">
			<ul class="row">
				<li>
					<a href="{{path("home")}}">Accueil</a>
				</li>
				<li>
					<a href="{{path("admin_prestations", {'id': 1 }) }}">Prestations</a>
				</li>
				<li>
					<a href="{{path("admin_produits")}}">Produits</a>
				</li>
				<li>
					<a href="{{path("admin_bijoux")}}">Bijoux</a>
				</li>
				<li>
					<a href="{{path("admin_calendar")}}">Reservation</a>
				</li>
				<li>
					<a href="{{path("admin_calendar")}}">Reservation</a>
				</li>
				<li>
					<a href="{{path("app_user_index")}}">Utilisateurs</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="header">
		<div class="logo row">
			<img class="img_url" src="{{ asset("images/logo.png") }}" alt="">
			<div class="text_div flex">
				<h1 class="titre_header">Admin Panel</h1>
				<div class="div-logo-burger"><img class="logo-menu-burger" src="https://img.icons8.com/ios/100/000000/menu-squared-2.png"/></div>
			</div>
		</div>
	</div>

	<nav class="nav column">
		<ul class="row">
			<li>
				<a href="{{path("home")}}">Accueil</a>
			</li>
			<li>
				<a href="{{path("admin_prestations", {'id': 1 }) }}">Prestations</a>
			</li>
			<li>
				<a href="{{path("admin_produits")}}">Produits</a>
			</li>
			<li>
				<a href="{{path("admin_bijoux")}}">Bijoux</a>
			</li>
			<li>
				<a href="{{path("admin_calendar")}}">Reservation</a>
			</li>
			<li>
				<a href="{{path("app_user_index")}}">Utilisateurs</a>
			</li>
		</ul>
	</nav>


</header>
