{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!
{% endblock %}

{% block body %}
	{% include "partials/_header.html.twig" %}
	<main class="main-produits">
		<div class="div-selector-category">
			<label class="choice_category_label" for="choice_category">
				<h3>Categories</h3>
			</label>

			<select name="choice_category" id="choice_category">
				<option value="0">Non definit</option>
				{% for categorie in categories %}
					<option value="{{categorie.id}}">{{categorie.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="main-div-produits">

			<div class="back-div-produits">

				{% for produit in produits %}
					<div class="div-card-produits">
						<img src="{{asset('images/produits/')}}{{produit.imgProduits}}" alt="Image Produits">
						<h2>{{produit.name}}</h2>
						{# <p>{{produit.description}}</p> #}
						<div class="div-info">
							<h3>{{produit.prix}}€</h3>
							<h3 id="produits-marque">{{produit.marque}}</h3>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

{% endblock %}
