{% extends 'base.html.twig' %}

{% block title %}Prestation
{% endblock %}

{% block body %}
	{# On inclut le partial _header qui contient l'header qui sera sur toutes les pages #}
	{% include "partials/_header.html.twig" %}
	{# Balise sémantique qui servira de base pour les autres balises #}
	<main
		class="main-prestation">
		{# Le code suivant gère la sélection de catégories #}
		<div class="div-selector-category">
			<label class="choice_category_label" for="choice_category_prestations">
				<h3>Categories</h3>
			</label>

			<select name="choice_category_prestations" id="choice_category_prestations">
				{% for categorie in categories %}
					<option value="{{categorie.id}}">{{categorie.title}}</option>
				{% endfor %}
			</select>
		</div>
		<h2 class="titre-h2-prestations">Prestations</h2>
		<div class="back-prestation">
			<ul>
				{% for prestation in prestations %}
					<div class="prestation-main-for-div">
						<li class="prestations-main-for-li">
							<div class="prestations-main-for-li-div">
								<p class="prestations-main-for-li-div-title">{{prestation.title}}</p>
								<p class="prestations-main-for-li-div-prix">{{prestation.prix}}
									€</p>
							</div>
						</li>
						<div>
							<a href="{{path('admin__prestation_edit',{'id': prestation.id })}}"><img src="https://img.icons8.com/metro/26/null/edit-property.png"/></a>
							<a href="{{path('admin_prestation_delete',{'id': prestation.id })}}"><img src="https://img.icons8.com/ios-glyphs/50/null/delete-property.png"/></a>
						</div>
					</div>
				{% endfor %}
			</ul>
		</div>
	</main>
{% endblock %}
