{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% include "partials/_header.html.twig" %}
	<main class="accueil-main">
		<section class="accueil-main-section">
			<h2>Presentation</h2>
			{# <div> #}
			<p>L'Hair d'Antan est un salon de coiffure qui se concentre sur les styles et les tendances de coiffure des années passées. Il propose une gamme de services de coiffure pour hommes et femmes, y compris des coupes de cheveux classiques, des coupes de barbe, des teintures et des coiffures de mariage. Le salon se caractérise par une atmosphère décontractée et accueillante, avec des décorations rétro et une ambiance musicale appropriée pour créer une expérience de coiffure unique et mémorable. Les coiffeurs qualifiés et talentueux utilisent des techniques de coiffure traditionnelles pour donner à chaque client une coiffure qui reflète leur personnalité et leur style.</p>
			{# </div> #}
		</section>
		<section class="accueil-main-section">
			<h2>Categories</h2>
			<div class="accueil-main-section-frame">
				<div>
					<a href="{{ path('prestations', {'id': 1 }) }}">
						<img src="{{asset('images/image_prestation.jpg')}}" alt="category prestations">
						<h3>Prestations</h3>
					</a>
				</div>
				<div>
					<a href="{{ path('produits')}}">
						<img src="{{asset('images/image_produits.jpg')}}" alt="category produits">
						<h3>Produits</h3>
					</a>
				</div>
				<div>
					<a href="">
						<img src="{{asset('images/image_bijoux.jpg')}}" alt="category bijoux">
						<h3>Bijoux</h3>
					</a>
				</div>
				<div>
					<a href="{{ path('contact')}}">
						<img src="{{asset('images/image_devanture-contact.jpg')}}" alt="category contact">
						<h3>Contact</h3>
					</a>
				</div>
			</div>
		</section>
		<section class="accueil-main-section"></section>
		<section class="accueil-main-section"></section>
	</main>
	{#  Fin partie Main  #}
{% endblock %}
