{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% include "partials/_header.html.twig" %}
	<main class="accueil-main">
		<section class="accueil-main-section">
			<h2>Presentation</h2>
			<div class="accueil-main-section-div-p">
				<p>L'Hair d'Antan est un salon de coiffure pour hommes et femmes.</p>
				<p>Nous vous proposons des coupes de cheveux classiques,  des colorations etc.</p>
				<p>Le salon se caractérise par une atmosphère décontractée et accueillante.</p>
				<p>Notre équipe qualifiée, est à votre écoute pour répondre à vos demandes et vous donner entère satisfaction, afin que votre coiffure reflète votre personnalité et votre style.</p>

			</div>
		</section>
		<section class="accueil-main-section">
			<h2>Categories</h2>
			<div class="accueil-main-section-frame">
				<div>
					<a href="{{ path('prestations', {'id': 1 }) }}">
						<img src="{{asset('images/image_prestation.jpg')}}" alt="category prestations">
						<h3>Prestations</h3>
					</a>
				</div>
				<div>
					<a href="{{ path('produits')}}">
						<img src="{{asset('images/image_produits.jpg')}}" alt="category produits">
						<h3>Produits</h3>
					</a>
				</div>
				<div>
					<a href="">
						<img src="{{asset('images/image_bijoux.jpg')}}" alt="category bijoux">
						<h3>Bijoux</h3>
					</a>
				</div>
				<div>
					<a href="{{ path('contact')}}">
						<img src="{{asset('images/image_devanture-contact.jpg')}}" alt="category contact">
						<h3>Contact</h3>
					</a>
				</div>
			</div>
		</section>
		<section class="accueil-main-section small-box">
			<p class="accueil-main-reservation-p">Vous pouvez prendrez rendez-vous en ligne en cliquant sur le lien ci-dessous ou par téléphone au 03.22.93.31.12</p>
			<a class="accueil-main-reservation-lien" href="{{path("reservation")}}">Liens vers la page reservation</a>
		</section>
	</main>
	{% include "partials/_footer.html.twig" %}
	{#  Fin partie Main  #}
{% endblock %}
