{% extends 'base.html.twig' %}

{% block title %}Crée un Produits{% endblock %}

{% block body %}
<main class="main-reservation">
		<div class="div-reservation">
			<div class="titre_page-reservation-div">
				<p>Ajouter un produit</p>
			</div>
			{{form_start(form)}}

			<div class="reservation-div-input">
				{{form_label(form.name)}}
				{{form_widget(form.name)}}
				{{form_errors(form.name)}}
			</div>

			<div class="reservation-div-input">
				{{form_label(form.marque)}}
				{{form_widget(form.marque)}}
				{{form_errors(form.marque)}}
			</div>

			<div class="reservation-div-input">
				{{form_label(form.prix)}}
				{{form_widget(form.prix)}}
				{{form_errors(form.prix)}}
			</div>
			
			<div class="reservation-div-input">
				{{form_label(form.category)}}
				{{form_widget(form.category)}}
				{{form_errors(form.category)}}
				<a class="admin-create-prestation-a" href="{{path("admin_create_category_produits")}}">Ajoute une category de produits</a>
			</div>

			<div class="reservation-div-input">
				{{form_label(form.img_produits)}}
				{{form_widget(form.img_produits)}}
				{{form_errors(form.img_produits)}}
			</div>

			<button class="button_valide_reservation" type="submit">
				<p>Valider</p>
			</button>
			{{form_end(form)}}
		</div>
	</main>
{% endblock %}