<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{asset("images/fav-icon.png")}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

			<link rel="stylesheet" href="{{ asset("style.css") }}">
		{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js" integrity="sha256-6XCj3LkKsl7TSl5Ico36HM7UTtf14UXhwbMRtlNKeo0=" crossorigin="anonymous"></script>

		{% block javascripts %}

			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}

		<script src="{{ asset("js/main.js") }}"></script>


	</body>


</html>
