{% extends 'base.html.twig' %}

{% block title %}Créer une category pour prestations
{% endblock %}

{% block body %}
	<main class="main-reservation">
		<div class="div-reservation">
			<div class="titre_page-reservation-div">
				<p>Créer une category pour produits</p>
			</div>
			{{form_start(form)}}

			<div class="reservation-div-input">
				{{form_label(form.name)}}
				{{form_widget(form.name)}}
				{{form_errors(form.name)}}
			</div>

			<button class="button_valide_reservation" type="submit">
				<p>Valider</p>
			</button>
			{{form_end(form)}}
		</div>
	</main>

{% endblock %}
